@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* my container */
.my-container{
  @apply max-w-screen-xl mx-auto
}
/* footer bg #021327 */
.footer-link{
  @apply flex items-center gap-2 font-bold hover:text-accent
}
/* case card */
.add-to-card-btn{
  @apply py-2 px-4 bg-primary w-full text-white font-semibold mt-2 rounded-md hover:bg-secondary hover:text-primary transition duration-300 ease-out
}
.case-card-container{
  @apply border p-2 m-2 md:m-0 rounded-md bg-white text-center h-full flex flex-col items-center justify-between transition-all
}
.case-card-container:hover h2{
  @apply text-red-500 duration-300 ease-in transition
}
.case-card-container:hover img{
  @apply skew-x-1
}